@tailwind base;

body {
    @apply font-body text-lg;
}

@tailwind components;

/* Buttons */

.btn {
    @apply px-4 py-2 text-sm font-semibold tracking-wide rounded outline-none;
}
.btn:focus {
    @apply outline-none;
}

.errorMsg {
    @apply text-main-accent text-xs font-semibold text-left;
}

.btn-sm {
    @apply px-2 py-1 text-xs;
}

.btn-primary {
    @apply text-white bg-red-500;
}
.btn-primary:hover {
    @apply bg-red-600;
}

.btn-secondary {
    @apply text-white bg-gray-700;
}
.btn-secondary:hover {
    @apply bg-gray-900;
}

input:checked ~ .toggler-dot {
    transform: translateX(100%);
    background-color: var(--accent-main);
}
input:checked ~ .toggler-line {
    background-color: var(--primary);
}
.toggler-dot {
    top: -0.15rem;
    left: -0.25rem;
}

@screen phone {
    .post-content {
        @apply text-base;
        h1,
        h2 {
            @apply text-main-accent font-display text-2xl font-bold;
        }
        h3,
        h4,
        h5,
        h6 {
            @apply font-display text-main-accent text-xl font-bold;
        }
        p {
            @apply mb-4;
        }
        blockquote {
            @apply p-2 mx-6 mb-4 text-base italic bg-transparent border-l-4 border-gray-400;
        }
        blockquote > p {
            @apply mb-0;
        }
        a {
            @apply text-secondary-accent;
        }
        a:hover {
            @apply underline;
        }
        ul,
        ol {
            @apply mb-4 ml-8;
        }
        li > p,
        li > ul,
        li > ol {
            @apply mb-0;
        }
        ol {
            @apply list-decimal;
        }
        ul {
            @apply list-disc;
        }
        /* Tables */
        td,
        th {
            @apply px-2 py-1 border border-gray-400;
        }
        tr:nth-child(odd) {
            @apply bg-gray-100;
        }
        table {
            @apply mb-6;
        }

        /* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
        code {
            @apply font-code text-red-400;
        }
        &:not(pre) > code.language-text {
            white-space: pre-line;
        }
    }
}

@screen laptop {
    .post-content {
        @apply text-lg;

        h1,
        h2 {
            @apply my-6 text-4xl font-bold;
        }
        h3,
        h4,
        h5,
        h6 {
            @apply my-3 text-2xl font-bold;
        }
        p {
            @apply py-2;
        }
    }
}

@tailwind utilities;

.theme-light {
    --primary: #fcf7ff;
    --secondary: #fefbfb;
    --text-main: #242628;
    --text-secondary: #494d50;
    --accent-main: #a93541;
    --accent-secondary: #e4b363;
}
.theme-dark {
    --primary: #0a100d;
    --secondary: #242628;
    --text-main: #fcf7ff;
    --text-secondary: #f2f2f3;
    --accent-main: #a93541;
    --accent-secondary: #e4b363;
}

.overlay {
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}
