@tailwind base;

body {
    @apply font-body text-lg;
}

@tailwind components;

/* Buttons */

.btn {
    @apply px-4 py-2 text-sm font-semibold tracking-wide rounded outline-none;
}
.btn:focus {
    @apply outline-none;
}

.errorMsg {
    @apply text-main-accent text-xs font-semibold text-left;
}

.btn-sm {
    @apply px-2 py-1 text-xs;
}

.btn-primary {
    @apply text-white bg-red-500;
}
.btn-primary:hover {
    @apply bg-red-600;
}

.btn-secondary {
    @apply text-white bg-gray-700;
}
.btn-secondary:hover {
    @apply bg-gray-900;
}

#text {
    @apply text-main-accent text-xs font-semibold;
}

input:checked ~ .toggler-dot {
    transform: translateX(100%);
    background-color: var(--accent-main);
}
input:checked ~ .toggler-line {
    background-color: var(--primary);
}
.toggler-dot {
    top: -0.15rem;
    left: -0.25rem;
}

.post-content {
    h2 {
        @apply text-main-accent font-display text-4xl font-bold leading-tight;
    }
    p {
        @apply py-4;
    }
}

@screen phone {
}

@screen laptop {
    .post-content {
        h2 {
            @apply text-3xl leading-relaxed;
        }
        p {
            @apply py-2;
        }
    }
}

@tailwind utilities;

.theme-light {
    --primary: #fcf7ff;
    --secondary: #fefbfb;
    --text-main: #242628;
    --text-secondary: #494d50;
    --accent-main: #a93541;
    --accent-secondary: #e4b363;
}
.theme-dark {
    --primary: #0a100d;
    --secondary: #242628;
    --text-main: #fcf7ff;
    --text-secondary: #f2f2f3;
    --accent-main: #a93541;
    --accent-secondary: #e4b363;
}

.overlay {
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}
